<div class="keywords-container">
  <div class="keyword-input-container">
    <app-skill-picker [arr]="skills" (handleSelect)="handleSelectSkill($event)"></app-skill-picker>
    <!-- <button class="keyword-input-button ripple-effect"><i
                      class="icon-material-outline-add"></i></button> -->
  </div>
  <div class="keywords-list">
    <span class="keyword" *ngFor="let refSkill of value; let i = index">
      <span class="keyword-remove" (click)="value.splice(i, 1)"></span>
      <span class="keyword-text">{{getSkillTitle(refSkill)}}</span>
    </span>
    <!-- keywords go here -->
  </div>
  <div class="clearfix"></div>
</div>
