<!-- Dashboard Headline -->
<div class="dashboard-headline">
  <h3>Manage Bidders</h3>
  <span class="margin-top-7">Bids for <a [routerLink]="'../../../edit-task/'+taskId">{{task?.title}}</a></span>
</div>

<!-- Row -->
<div class="row">

  <!-- Dashboard Box -->
  <div class="col-xl-12">
    <div class="dashboard-box margin-top-0">

      <!-- Headline -->
      <div class="headline">
        <h3><i class="icon-material-outline-supervisor-account"></i> {{task?.refBids.length}} Bidders</h3>
        <div class="sort-by">
          <select>
            <option>Highest First</option>
            <option>Lowest First</option>
            <option>Fastest First</option>
          </select>
        </div>
      </div>

      <div class="content">
        <ul class="dashboard-box-list">
          <li *ngFor="let bid of task?.refBids; let i=index;">
            <!-- Overview -->
            <div class="freelancer-overview manage-candidates">
              <div class="freelancer-overview-inner">

                <!-- Avatar -->
                <div class="freelancer-avatar">
                  <div class="verified-badge"></div>
                  <a><img [src]="bid?.refBidder?.avatar" alt=""></a>
                </div>

                <!-- Name -->
                <div class="freelancer-name">
                  <div style="display: flex;">
                    <h4><a>{{bid?.refBidder?.firstName}} {{bid?.refBidder?.lastName}}</a></h4>
                    <app-country-flag [code]="bid?.refBidder?.country"></app-country-flag>                  
                  </div>
                  <!-- Details -->
                  <span class="freelancer-detail-item"><a><i class="icon-feather-mail"></i>
                      {{bid?.refBidder?.email}}</a></span>

                  <!-- Rating -->
                  <div class="freelancer-rating">
                    <app-rating [rate]="4.5"></app-rating>
                  </div>

                  <!-- Bid Details -->
                  <ul class="dashboard-task-info bid-info">
                    <li>
                      <strong>${{bid?.budget}}</strong>
                      <span *ngIf="!task?.isHourly">Fixed Price</span>
                      <span *ngIf="task?.isHourly">Hourly Rate</span>
                    </li>
                    <li><strong>{{bid?.duration}} Days</strong><span>Delivery Time</span></li>
                  </ul>

                  <!-- Buttons -->
                  <div class="buttons-to-right always-visible margin-top-25 margin-bottom-0">
                    <a href="#small-dialog-1" class="popup-with-zoom-anim button ripple-effect"><i
                        class="icon-material-outline-check"></i> Accept Offer</a>
                    <a href="#small-dialog-2" class="popup-with-zoom-anim button dark ripple-effect"><i
                        class="icon-feather-mail"></i> Send Message</a>
                    <a href="#" class="button gray ripple-effect ico" title="Remove Bid" data-tippy-placement="top"><i
                        class="icon-feather-trash-2"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>

</div>
<!-- Row / End -->