<!-- Titlebar
================================================== -->
<div id="titlebar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Log In</h2>
      </div>
    </div>
  </div>
</div>


<!-- Page Content
================================================== -->
<div class="container">
  <div class="row">
    <div class="col-xl-5 offset-xl-3">


      <div class="login-register-page">
        <!-- Welcome Text -->
        <div class="welcome-text">
          <h3>We're glad to see you again!</h3>
          <span>Don't have an account? <a [routerLink]="['/signup']">Sign Up!</a></span>
        </div>


        <!-- Form -->
        <form id="register-account-form" (ngSubmit)="onSubmit()" [formGroup]="form">

          <div class="input-with-icon-left">
            <i class="icon-material-baseline-mail-outline"></i>
            <input type="text" class="input-text with-border" placeholder="Email Address" formControlName="email" />
          </div>

          <div class="input-with-icon-left" title="Should be at least 8 characters long" data-tippy-placement="bottom">
            <i class="icon-material-outline-lock"></i>
            <input type="password" class="input-text with-border" placeholder="Password" formControlName="password" />
          </div>

          <app-recaptcha (handleToggle)="handleRecaptcha($event)"></app-recaptcha>

          <div *ngIf="form.touched && form.invalid" style="text-align:center; color: red;">Please fill with valid form
            data.
          </div>
          <!-- Button -->
          <ion-button type="submit" class="full-width margin-top-10" [disabled]="!form.valid || isLoading">
            <ion-spinner *ngIf="isLoading"></ion-spinner>
            Login
          </ion-button>
        </form>

        <!-- Social Login -->
        <div class="social-login-separator"><span>or</span></div>
        <div class="social-login-buttons">
          <button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Log In via
            Facebook</button>
          <button class="google-login ripple-effect"><i class="icon-brand-google"></i> Log In via Google</button>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- Spacer -->
<div class="margin-top-70"></div>
<!-- Spacer / End-->

<app-footer></app-footer>