<!-- Dashboard Headline -->
<div class="dashboard-headline">
  <h3>Post a Task</h3>

</div>

<!-- Row -->
<form class="row" [formGroup]="form" (submit)="onSubmit()">

  <!-- Dashboard Box -->
  <div class="col-xl-12">
    <div class="dashboard-box margin-top-0">

      <!-- Headline -->
      <div class="headline">
        <ion-toolbar>
          <h3>
            <i class="icon-feather-folder-plus"></i> Task Submission Form
          </h3>
          
          <button class="button button-sliding-icon ripple-effect" type="submit" slot="end">
            Post Task <i class="icon-feather-plus"></i>
          </button>
        </ion-toolbar>
      </div>

      <div class="content with-padding padding-bottom-10">
        <!-- Form -->
        <div>
          <div class="row">
            <div class="col-xl-4">
              <div class="submit-field">
                <h5><app-valid-marker [x]="form.get('title')"></app-valid-marker>
                  Project Name
                </h5>
                <input type="text" class="with-border" placeholder="e.g. build me a website" [formControlName]="'title'">                
              </div>
            </div>

            <div class="col-xl-4">
              <div class="submit-field">
                <h5>
                  <app-valid-marker [x]="form.get('refCategory')"></app-valid-marker>
                  Category
                </h5>
                <app-category-picker formControlName="refCategory"></app-category-picker>
              </div>
            </div>

            <div class="col-xl-4">
              <div class="submit-field">
                <h5>
                  <app-valid-marker [x]="form.get('country')"></app-valid-marker>
                  Country
                </h5>
                <app-country-picker formControlName="country"></app-country-picker>
              </div>
            </div>

            <div class="col-xl-6">
              <div class="submit-field">
                <h5>
                  <app-valid-marker [x]="form.get('minBudget')"></app-valid-marker>
                  What is your estimated budget?
                </h5>
                <div class="row">
                  <div class="col-xl-6">
                    <div class="input-with-icon">
                      <input class="with-border" type="number" placeholder="Minimum" formControlName="minBudget">
                      <i class="currency">USD</i>
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="input-with-icon">
                      <input class="with-border" type="number" placeholder="Maximum" formControlName="maxBudget">
                      <i class="currency">USD</i>
                    </div>
                  </div>
                </div>
                <app-yes-no formControlName="isHourly" strNo="Fixed Price Project" strYes="Hourly Project"></app-yes-no>
              </div>
            </div>

            <div class="col-xl-6">
              <div class="submit-field">
                <h5>
                  <app-valid-marker [x]="form.get('refSkills')"></app-valid-marker>
                  What skills are required?
                </h5>
                <app-skills-picker formControlName="refSkills" #fff></app-skills-picker>            
              </div>
            </div>

            <div class="col-xl-12">
              <div class="submit-field">
                <h5>
                  <app-valid-marker [x]="form.get('description')"></app-valid-marker>
                  Describe Your Project
                </h5>
                <ion-textarea cols="30" rows="8" formControlName="description"></ion-textarea>               
              </div>

              <!-- <app-gcs-uploader formControlName="filePath"></app-gcs-uploader> -->
            </div>

          </div>

          <!-- <div *ngIf="!f.valid && f.touched" style="text-align:center; color: red;">Please fill with valid form data.</div> -->
          <!-- Button -->

        </div>

      </div>
    </div>

  </div>

</form>
<!-- Row / End -->