<mat-progress-bar mode="indeterminate" *ngIf="sss.isLoading"></mat-progress-bar>

<div class="margin-top-50"></div>
<div class="container" *ngIf="!sss.isLoading && sss.task">
  <mat-card class="row ion-padding margin-bottom-20" *ngFor="let bid of sss.task.refBids">
    <div style="display: flex;" class="col-12">

      <img [src]="bid.refBidder.avatar" class="avatar-img" width="100px" height="100px" />

      <div style="flex: 1;">
        <div style="padding: 10px 10px;">
          <app-country-flag [code]="bid.refBidder.country" [onlyFlag]="true">
          </app-country-flag>
          
          <strong style="font-size: large; margin: 0 10px;">
            <a>
              {{bid?.refBidder?.firstName}} {{bid?.refBidder?.lastName}}
            </a>
          </strong>
        </div>
        <div  style="padding: 10px 10px;">
          <app-rating [rate]="4.5"></app-rating>
        </div>
      </div>

      <div style="text-align: right;">
        <h2>${{bid.budget}} USD {{sss.task.isHourly?" / hour":""}}</h2>
        <h4>in {{bid.duration}} days</h4>
      </div>

    </div>
    <div #ddd class="col-12" style="height: 100px; overflow: hidden;">
      <ion-textarea style="border: none; font-size: medium;" autoGrow="true" readonly [value]="bid.description">
      </ion-textarea>
    </div>
    <div class="col-12">
      <button class="more-less-button" *ngIf="ddd.style.height!='fit-content'" (click)="ddd.style.height='fit-content'">
        ...read more
      </button>
    </div>
    <ion-toolbar>
      <button mat-raised-button slot="end" color="primary" class="margin-right-20"
      (click)="onClickAward(bid)">Award</button>
      <button mat-raised-button slot="end" color="accent"
      (click)="onClickChat(bid)">Chat</button>
    </ion-toolbar>

  </mat-card>
</div>