.user-avatar:hover{
  cursor: pointer;
}

.header-notifications.user-menu{
  .header-notifications-dropdown{
    width: 200px;
  }
}

.router-link-active {
	color: red;
  font-weight: bold;
}

#header-container{
  position: fixed;
  top:0;
  left: 0;
}