<!-- Header Container
================================================== -->
<header id="header-container" class="fullwidth">

  <!-- Header -->
  <div id="header">
    <div class="container">

      <!-- Left Side Content -->
      <div class="left-side">

        <!-- Logo -->
        <div id="logo">
          <a [routerLink]="['/']"><img src="assets/images/logo2.png"></a>
        </div>

        <!-- Main Navigation -->
        <nav id="navigation">
          <ul id="responsive">

            <li *ngIf="userIsAuthenticated">
              <a [routerLink]="['/browse']" routerLinkActive="router-link-active">
                <i class="icon-material-outline-assignment"></i>Browse Tasks
              </a>
            </li>

            <li *ngIf="userIsAuthenticated">
              <a [routerLink]="['/my-tasks']" routerLinkActive="router-link-active">
                <i class="icon-material-outline-assignment"></i>My Tasks
              </a>
            </li>

            <li><a [routerLink]="['/home/help']" routerLinkActive="router-link-active"><i class="icon-material-outline-help-outline"></i>
                Help & Support</a></li>

          </ul>
        </nav>
        <div class="clearfix"></div>
        <!-- Main Navigation / End -->

      </div>
      <!-- Left Side Content / End -->

      <!-- Right Side Content / End -->
      <div class="right-side" [style.display]="userIsAuthenticated?'block':'none'">

        <!--  User Notifications -->
        <div class="header-widget hide-on-mobile">

          <app-badge-notify style="margin-right: 1rem;" [isDropDown]="menuId==mids.notify" (handleClickIcon)="menuId= (menuId==mids.notify)?mids.off:mids.notify;"
            (handleMouseLeave)="menuId=mids.off"
          ></app-badge-notify>

          <app-badge-chat [isDropDown]="menuId==mids.chat" (handleClickIcon)="menuId= (menuId==mids.chat)?mids.off:mids.chat;"
            (handleMouseLeave)="menuId=mids.off"
          ></app-badge-chat>
        </div>
        <!--  User Notifications / End -->

        <!-- User Menu -->
        <div class="header-widget">

          <!-- Messages -->
          <div class="header-notifications user-menu" [ngClass]="menuId==mids.user?'active':''">
            <div class="header-notifications-trigger">
              <a href="#" (click)="menuId=(menuId==mids.user)?mids.off:mids.user;; false;">
                <img width="50px" height="50px" style="border-radius: 20%;"
                [src]="me?.avatar || 'assets/images/user-avatar-placeholder.png'" alt="">
              </a>
            </div>

            <!-- Dropdown -->
            <div class="header-notifications-dropdown" (mouseleave)="menuId=mids.off">

              <!-- User Status -->
              <div class="user-status">

                <!-- User Name / Avatar -->
                <div class="user-details">
                  <img width="50px" height="50px" style="border-radius: 20%;"
                    [src]="me?.avatar || 'assets/images/user-avatar-placeholder.png'" alt="">
                  <div class="user-name">
                    {{me?.firstName}} {{me?.lastName}}
                    <div>${{financeService.profile?.balance}}</div>
                  </div>
                  
                </div>

              </div>

              <ul class="user-menu-small-nav">
                <li><a [routerLink]="'me/dashboard'"><i class="icon-material-outline-dashboard"></i> Dashboard</a></li>
                <li><a [routerLink]="'me/settings'"><i class="icon-material-outline-settings"></i> Settings</a></li>
                <li><a href="#" (click)="onClickLogout()"><i class="icon-material-outline-power-settings-new"></i> Logout</a></li>
              </ul>

            </div>
          </div>

        </div>
        <!-- User Menu / End -->

        <!-- Mobile Navigation Button -->
        <span class="mmenu-trigger">
          <button class="hamburger hamburger--collapse" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </span>

      </div>
      <!-- Right Side Content / End -->

      <!-- Right Side Content / End -->
      <div class="right-side" [style.display]="!userIsAuthenticated?'block':'none'">

        <div class="header-widget">
          <a [routerLink]="['/login']" class="log-in-button"><i class="icon-feather-log-in"></i> <span>Log
              In / Register</span></a>
        </div>

        <!-- Mobile Navigation Button -->
        <span class="mmenu-trigger">
          <button class="hamburger hamburger--collapse" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </span>
      
      </div>
      <!-- Right Side Content / End -->
    </div>
  </div>
  <!-- Header / End -->

</header>


<div class="clearfix"></div>
<!-- Header Container / End -->