<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<div *ngIf="!isLoading">
  <mat-card>
    <table class="table" style="margin-top: 3rem;">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Task Title</th>
          <th scope="col">Freelancer</th>
          <th scope="col">Budget</th>
          <th scope="col">Deadline</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contract of contracts; let i=index;">
          <th scope="row">{{i+1}}</th>
          <td>
            <a [routerLink]="'/single-task/'+contract.refTask._id">{{contract.refTask.title}}</a>
          </td>
          <td>
            <a href="#" (click)="false">{{contract.refWorker.firstName}} {{contract.refWorker.lastName}}</a>
          </td>
          <td>
            {{contract.budget | currency}} 
            <span *ngIf="contract.isHourly">/hour</span>
          </td>
          <td>
            {{contract.endDate | date}}
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </mat-card>
</div>
<!-- Row / End -->