<h3 class="page-title">Search Results</h3>

<div class="notify-box margin-top-15">
  <div class="switch-container">
    <label class="switch"><input type="checkbox"><span class="switch-button"></span><span class="switch-text">Turn
        on email alerts for this search</span></label>
  </div>

  <div class="sort-by">
    <span>Sort by:</span>
    <select class="selectpicker hide-tick">
      <option>Relevance</option>
      <option>Newest</option>
      <option>Oldest</option>
      <option>Random</option>
    </select>
  </div>
</div>
<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

<!-- Tasks Container -->
<div class="tasks-list-container compact-list margin-top-35">
  <!-- Task -->
  <a *ngFor="let task of tasks; let i=index;"
  [routerLink] = "'/single-task/'+task._id"
  class="task-listing">

    <!-- Job Listing Details -->
    <div class="task-listing-details">

      <!-- Details -->
      <div class="task-listing-description">
        <h3 class="task-listing-title">{{task.title}}</h3>
        <ul class="task-icons">
          <li><i class="icon-material-outline-location-on"></i> {{task.country}}</li>
          <li><i class="icon-material-outline-access-time"></i>{{task.timestamp | date:'medium'}}</li>
        </ul>
        <p class="task-listing-text">{{task.description}}</p>
        <div class="task-tags">
          <span *ngFor="let skill of task.refSkills">{{skill.title}}</span>
        </div>
      </div>

    </div>

    <div class="task-listing-bid">
      <div class="task-listing-bid-inner">
        <div *ngIf="!task.isHourly" class="task-offers">
          <strong>${{task.minBudget}} - ${{task.maxBudget}}</strong>
          <span>Fixed Price</span>
        </div>
        <div *ngIf="task.isHourly" class="task-offers">
          <strong>${{task.minBudget}} - ${{task.maxBudget}}</strong>
          <span>Hourly Rate</span>
        </div>

        <span *ngIf="task.refCreator!=me?._id"
        class="button button-sliding-icon ripple-effect"
        (click)="onClickBid($event, task)">
          Bid Now 
          <i class="icon-material-outline-arrow-right-alt"></i>
        </span>
      </div>
    </div>
  </a>

</div>
<!-- Tasks Container / End -->


<!-- Pagination -->
<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12">
    <!-- Pagination -->
    <div class="pagination-container margin-top-60 margin-bottom-60">
      <nav class="pagination">
        <ul>
          <li class="pagination-arrow"><a href="#" class="ripple-effect"><i
                class="icon-material-outline-keyboard-arrow-left"></i></a></li>
          <li><a href="#" class="current-page ripple-effect">1</a></li>
          <li><a href="#" class="ripple-effect">2</a></li>
          <li><a href="#" class="ripple-effect">3</a></li>
          <li><a href="#" class="ripple-effect">4</a></li>
          <li class="pagination-arrow"><a href="#" class="ripple-effect"><i
                class="icon-material-outline-keyboard-arrow-right"></i></a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<!-- Pagination / End -->