<div class="bidding-widget">
  <div class="bidding-headline">
    <h3>Bid on this job!</h3>
  </div>
  <div class="bidding-inner">
    <div style="display: flex;">
      <div style="flex:1; margin: 0 20px;">
        <!-- Headline -->
        <span class="bidding-detail">Set your <strong>minimal rate</strong></span>
        <div class="input-with-icon">
          <input class="with-border" type="number" placeholder="">
          <i class="currency">USD</i>
        </div>
      </div>
      <div style="flex:1; margin: 0 20px;">
        <!-- Headline -->
        <span class="bidding-detail">Set your <strong>delivery time</strong></span>
        <!-- Fields -->
        <div class="input-with-icon">
          <input class="with-border" type="number" placeholder="">
          <i class="currency">Days</i>
        </div>

      </div>
    </div>

    <ion-textarea row="5" style="background-color: white;"> 
    </ion-textarea>

    <!-- Button -->
    <button class="button ripple-effect move-on-hover full-width margin-top-30" type="submit">
      <span>Place a Bid</span>
    </button>
  </div>
  <div class="bidding-signup">Don't have an account? <a href="#sign-in-dialog"
      class="register-tab sign-in popup-with-zoom-anim">Sign Up</a></div>
</div>