<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<div *ngIf="!isLoading">
  <mat-card>
    <table class="table" style="margin-top: 3rem;">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Task Title</th>
          <th scope="col">Employer</th>
          <th scope="col">Awarded Bid</th>
          <th scope="col">Deadline</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let task of tasks; let i=index;">
          <th scope="row">{{i+1}}</th>
          <td>
            <a [routerLink]="'/tasks/single-task/'+task._id">{{task.title}}</a>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr> -->
      </tbody>
    </table>
  </mat-card>
</div>
<!-- Row / End -->