<!-- Notifications -->
<div class="header-notifications" [ngClass]="isDropDown?'active':''">

  <!-- Trigger -->
  <div class="header-notifications-trigger">
    <a href="#" (click)="handleClickIcon.emit(); false;">
      <i class="icon-feather-bell"></i>
      <span *ngIf="numNotRead>0">{{numNotRead}}</span>
    </a>
  </div>

  <!-- Dropdown -->
  <div class="header-notifications-dropdown" (mouseleave)="handleMouseLeave.emit()">

    <div class="header-notifications-headline">
      <h4>Notifications</h4>
      <button class="mark-as-read ripple-effect-dark" title="Mark all as read" data-tippy-placement="left">
        <i class="icon-feather-check-square"></i>
      </button>
    </div>

    <div class="header-notifications-content">
      <div class="header-notifications-scroll" data-simplebar>
        <ul>
          <!-- Notification -->
          <li *ngFor="let notif of notifs; let i = index;">
            <a *ngIf="notif.type==Notif_Type.AWARD_BID" (click)="onClickNotif(notif, i)"
            [routerLink]="'/single-task/'+notif.data.taskId+'/contract'">
              <span class="notification-icon"><i class="icon-feather-star"></i></span>
              <span class="notification-text">
                Task <span class="color">{{notif.data.taskTitle}}</span> is awarded on your bid!
              </span>
            </a>

            <a *ngIf="notif.type==Notif_Type.CONTRACT_AGREED" (click)="onClickNotif(notif, i)"
            [routerLink]="'/single-task/'+notif.data.taskId+'/contract'">
              <span class="notification-icon"><i class="icon-feather-star"></i></span>
              <span class="notification-text">
                {{notif.text}}
              </span>
            </a>

            <a *ngIf="notif.type==Notif_Type.RELEASED" (click)="onClickNotif(notif, i)"
            [routerLink]="'/single-task/'+notif.data.taskId+'/contract'">
              <span class="notification-icon"><i class="icon-feather-star"></i></span>
              <span class="notification-text">
                {{notif.text}}
              </span>
            </a>
          </li>

          <!-- Other Notif_Types here -->

          <!-- <li>
            <a href="dashboard-manage-bidders.html">
              <span class="notification-icon"><i class=" icon-material-outline-gavel"></i></span>
              <span class="notification-text">
                <strong>Gilbert Allanis</strong> placed a bid on your <span class="color">iOS App Development</span>
                project
              </span>
            </a>
          </li>

          <li>
            <a href="dashboard-manage-jobs.html">
              <span class="notification-icon"><i class="icon-material-outline-autorenew"></i></span>
              <span class="notification-text">
                Your job listing <span class="color">Full Stack PHP Developer</span> is expiring.
              </span>
            </a>
          </li>

          <li>
            <a href="dashboard-manage-candidates.html">
              <span class="notification-icon"><i class="icon-material-outline-group"></i></span>
              <span class="notification-text">
                <strong>Sindy Forrest</strong> applied for a job <span class="color">Full Stack Software
                  Engineer</span>
              </span>
            </a>
          </li> -->
        </ul>
      </div>
    </div>

  </div>

</div>
