<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

<div class="margin-top-50"></div>
<!-- Page Content
================================================== -->
<div *ngIf="!isLoading" class="container">
  <div class="row">

    <!-- Content -->
    <div class="col-xl-8 col-lg-8 content-right-offset">

      <!-- Description -->
      <div class="single-page-section">
        <h3 class="margin-bottom-25">Project Description</h3>
        <p>{{task.description}}</p>
      </div>

      <!-- Atachments -->
      <!-- <div class="single-page-section">
        <h3>Attachments</h3>
        <div class="attachments-container">
          <a href="#" class="attachment-box ripple-effect"><span>Project Brief</span><i>PDF</i></a>
        </div>
      </div> -->

      <!-- Skills -->
      <div class="single-page-section">
        <h3>Skills Required</h3>
        <div class="task-tags">
          <span *ngFor="let skill of task?.refSkills">{{skill?.title}}</span>
        </div>
      </div>
      <div class="clearfix"></div>

      <div *ngIf="!isMyProject(me, task)">

        <app-place-bid *ngIf="!alreadyBid(me, task)" [minBudget]="task?.minBudget"
          (handleSubmit)="handleSubmitBid($event)">
        </app-place-bid>

        <div *ngIf="alreadyBid(me, task)" class="countdown green margin-bottom-35">
          You already placed bid.
          <button routerLink="/me/my-active-bids" style="margin-left: 50px;">
            <span class="icon-feather-edit"></span>
          </button>
        </div>
      </div>


    </div>


    <!-- Sidebar -->
    <div class="col-xl-4 col-lg-4">
      <div class="sidebar-container">

        <!-- Sidebar Widget -->
        <div class="sidebar-widget">
          <ion-card>
            <ion-card-header>
              <ion-card-title>About the Employer</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <app-about-employer [employer]="task.refCreator"></app-about-employer>
            </ion-card-content>
          </ion-card>
        </div>

        <div class="countdown green margin-bottom-35">6 days, 23 hours left</div>

        <!-- Freelancers Bidding -->
        <div class="boxed-list margin-bottom-60">
          <div class="boxed-list-headline">
            <h3><i class="icon-material-outline-group"></i>{{task.refBids.length}} bid(s) placed</h3>
          </div>
        </div>

        <!-- Sidebar Widget -->
        <div class="sidebar-widget">
          <h3>Bookmark or Share</h3>

          <!-- Bookmark Button -->
          <button class="bookmark-button margin-bottom-25">
            <span class="bookmark-icon"></span>
            <span class="bookmark-text">Bookmark</span>
            <span class="bookmarked-text">Bookmarked</span>
          </button>

          <!-- Copy URL -->
          <div class="copy-url">
            <input id="copy-url" type="text" value="" class="with-border">
            <button class="copy-url-button ripple-effect" data-clipboard-target="#copy-url" title="Copy to Clipboard"
              data-tippy-placement="top"><i class="icon-material-outline-file-copy"></i></button>
          </div>

          <!-- Share Buttons -->
          <div class="share-buttons margin-top-25">
            <div class="share-buttons-trigger"><i class="icon-feather-share-2"></i></div>
            <div class="share-buttons-content">
              <span>Interesting? <strong>Share It!</strong></span>
              <ul class="share-buttons-icons">
                <li><a href="#" data-button-color="#3b5998" title="Share on Facebook" data-tippy-placement="top"><i
                      class="icon-brand-facebook-f"></i></a></li>
                <li><a href="#" data-button-color="#1da1f2" title="Share on Twitter" data-tippy-placement="top"><i
                      class="icon-brand-twitter"></i></a></li>
                <li><a href="#" data-button-color="#dd4b39" title="Share on Google Plus" data-tippy-placement="top"><i
                      class="icon-brand-google-plus-g"></i></a></li>
                <li><a href="#" data-button-color="#0077b5" title="Share on LinkedIn" data-tippy-placement="top"><i
                      class="icon-brand-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>


<!-- Spacer -->
<div class="margin-top-15"></div>
<!-- Spacer / End-->