<!-- Titlebar
================================================== -->
<ion-spinner *ngIf="isLoading"></ion-spinner>
<div *ngIf="!isLoading" class="single-page-header" data-background-image="assets/images/single-task.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="single-page-header-inner">
          <div class="left-side">
            <div class="header-details">
              <h3>{{task.title}}</h3>

            </div>
          </div>
          <div class="right-side">
            <div class="salary-box">
              <div class="salary-type">Project Budget</div>
              <div class="salary-amount">${{task.minBudget}} - ${{task.maxBudget}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<router-outlet></router-outlet>
